{% from "macros.html" import object_link %} 
{% extends 'base.html' %}

{% block content %}
<script>
    $("#channels-nav").addClass("selected-nav");
</script>
    <h2>{% block title %}Notification Channel Details{% endblock %}</h2>
<TABLE>
    <TR>
        <TD>Name</TD><TD>{{notification_channel.name}}</TD>
    </TR>
    <TR><TD>Notification Type</TD><TD>{{notification_channel.type}}</TD></TR>
    {% if notification_channel.type == 'email' %}
        <TR>
            <TD>Email</TD><TD>{{notification_channel.email}}</TD>
        </TR>
    {% else %}
        <TR>
            <TD>email or phone number</TD><TD>{{notification_channel.value}}</TD>
        </TR>
    {% endif %}
    <TR>
        <TD>enabled</TD><TD>{{ notification_channel.enabled }}</TD>
    </TR>
</TABLE>

<div><A HREF="{{url_for('notification_channels.edit', channel_id=notification_channel.id)}}">edit</A></div>
<HR>
{% if notification_channel.anomaly_detectors | length > 0 %}
<H3>Used by the Following Anomaly Detectors</H3>
<TABLE>
    {% for detector in notification_channel.anomaly_detectors %}
        <TR><TD>
            {{object_link(url_for('anomaly_detectors.details',anomaly_detector_id=detector.id),detector.name)}}
        </TD></TR>
    {% endfor %}
</TABLE>
{% endif %}
{% endblock %}
