{% extends 'base.html' %}

{% block content %}
<script>
    $("#channels-nav").addClass("selected-nav");
</script>
<div>
    <h2>{% block title %}Edit Notification Channel{% endblock %}</h2>
    <form method="post">
        <div class="input-div">
            <label for="name">Name</label>
            <br>
            <input type="text" name="name" placeholder="" value="{{notification_channel.name}}"></input>
        </div>
        <div class="input-div">
            <label for="type">Notification Channel Type</label>
            <br>
            {% if notification_channel.type == "sms" %}
            <select name="type" id="type">
                <option value="sms"selected>SMS</option>
                <option value="email">EMail</option>
            </select>
            {% else %}
            <select name="type" id="type">
                <option value="sms">SMS</option>
                <option value="email" selected>EMail</option>
            </select>
            {% endif %}
        </div>
        <div class="input-div">
            <label for="name">Email Address / Phone Number</label>
            <br>
            <input type="text" name="value" placeholder="" value="{{notification_channel.value}}"></input>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<HR>
    <FORM method="post" action="{{url_for('notification_channels.delete', channel_id=notification_channel.id)}}">
        <BUTTON type="submit">DELETE NOTIFICATION CHANNEL</BUTTON>
    </FORM>
{% endblock %}