{% extends 'base.html' %}

{% block content %}
<script>
    $("#channels-nav").addClass("selected-nav");
    function toggleEnabled(cb, channel_id){
        enabled = cb.checked;
        $.ajax({
        url: "{{url_for('notification_channels.set_enabled')}}",
        type: "post",
        data: {"channel":channel_id, "enabled":enabled},
    });
    }
  </script>
  
<div>
    <h2>{% block title %}Notification Channels{% endblock %}</h2>
    <div>You currently have {{notification_channels|length}} notificaiton channels set up</div>
    <TABLE>
        <TR><TH>Name</TH><TH>Type</TH><TH>Value</TH><TH>Enable</TH></TR>
        {% for channel in notification_channels %}
        <TR>
            <TD><A HREF="{{url_for('notification_channels.details', channel_id=channel.id)}}">{{channel.name}}</A></TD>
            <TD>{{channel.type}}</TD>
            <TD>{{channel.value}}</TD>
            {% if channel.enabled %}
            <TD><input type="checkbox" id="{{channel.id}}" onchange="toggleEnabled(this, '{{channel.id}}')" checked /></TD>
            {% else %}
            <TD><input type="checkbox" id="{{channel.id}}" onchange="toggleEnabled(this, '{{channel.id}}')" /></TD>
            {% endif %}
        </TR>
        {% endfor %}
    </TABLE>
    <hr>
    <a href="{{url_for('notification_channels.new')}}">new notification channel</a>


    {% endblock %}