{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h3>Notification Channels</h3>
    <div>You currently have {{notification_channels|length}} notificaiton channels set up</div>
    <TABLE>
        <TR><TH>Name</TH><TH>Type</TH><TH>Value</TH></TR>
        {% for channel in notification_channels %}
        <TR>
            <TD>{{channel.name}}</TD>
            <TD>{{channel.type}}</TD>
            <TD>{{channel.value}}</TD>
        </TR>
        {% endfor %}
    </TABLE>
    <hr>
    <a href="{{url_for('notification_channels.new')}}">new notification channel</a>


    {% endblock %}