{% extends 'base.html' %}

{% block content %}
<div class="content">
        <h2>Add SMS Notification Channel</h2>
        <form method="post">
            <label for="name">Channel Name</label>
            <br>
            <input type="text" name="name"
                   placeholder=""
                   value="{{ request.form['name'] }}"></input>
            <br>
            <label for="url">Phone Number</label>
            <br>
            <input type="text" name="number"
                   placeholder=""
                   value="{{ request.form['number'] }}"></input>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}