{% from "macros.html" import form_row %}
{% extends 'base.html' %}

{% block content %}
<script>
    $("#checks-nav").addClass("selected-nav");

    function confirm_and_delete(){
              name = "{{header.name}}";
              id = "{{header.id}}"
              msg = "Are you sure you want to delete header " + name + "?";
              msg += "\nThis action cannot be undone."
              confirmed = confirm(msg);
              if(confirmed){
                     $.ajax({
                     url: "{{url_for('headers.delete')}}",
                     type: "post",
                     data: {"header_id":id,
                     "csrf_token":"{{csrf_token()}}"},
                     success: function (data){
                            window.location.replace("{{url_for('headers.index')}}");
                     }
                     });
              }
       }
</script>
<h2>{% block title %}Edit Header{% endblock %}</h2>
<form method="post">
    <TABLE>
        {{ form_row(form.name) }}
        {{ form_row(form.key) }}
        {{ form_row(form.value) }}
    </TABLE>
    {{form.send()}}
    {{ form.csrf_token }}
</form>
<HR>
<BUTTON onclick="confirm_and_delete()">DELETE HEADER</BUTTON>

{% endblock %}