{% extends 'base.html' %}

{% block content %}
<script>
    $("#checks-nav").addClass("selected-nav");
</script>
<h2>{% block title %}Edit Header{% endblock %}</h2>
<form method="post">
    <div class="input-div">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" placeholder="" value="{{ header.name}}"></input>
    </div>    
    <div class="input-div">
        <label for="key">Key</label>
        <br>
        <input type="text" name="key" placeholder="" value="{{ header.key }}"></input>
    </div>
    <div class="input-div">
    <label for="url">Value</label>
    <br>
    <input type="text" name="value" placeholder="" value="{{ header.value }}"></input>
    </div>
    <input type="hidden" name="header_id" value="{{header_id}}"></input>
    <button type="submit">Sumbit</button>
</form>
<HR>
<FORM method="post" action="{{url_for('headers.delete', header_id=header.id)}}">
    <BUTTON type="submit">DELETE HEADER</BUTTON>
</FORM>
{% endblock %}