{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h2>Add Header</h2>
    <form method="post">
        <label for="name">Key</label>
        <br>
        <input type="text" name="key" placeholder="" value="{{ request.form['key'] }}"></input>
        <br>
        <label for="url">Value</label>
        <br>
        <input type="text" name="value" placeholder="" value="{{ request.form['value'] }}"></input>
        <br>
        <input type="hidden" name="check_id" value="{{check_id}}"></input>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}