{% extends 'base.html' %}

{% block content %}
<script>
    $("#checks-nav").addClass("selected-nav");
</script>
<h2>{% block title %}Add Header{% endblock %}</h2>
<form method="post">
    <div class="input-div">
        <label for="name">Key</label>
        <br>
        <input type="text" name="key" placeholder="" value="{{ request.form['key'] }}"></input>
    </div>
    <div class="input-div">
    <label for="url">Value</label>
    <br>
    <input type="text" name="value" placeholder="" value="{{ request.form['value'] }}"></input>
    </div>
    <input type="hidden" name="check_id" value="{{check_id}}"></input>
    <button type="submit">Add</button>
</form>
{% endblock %}