{% extends 'base.html' %}

{% block content %}
<script>
    $("#checks-nav").addClass("selected-nav");
</script>

<h2>{% block title %}Add Anomoly Detector to {{check.name}}{% endblock %}</h2>
<FORM method="post">
    <div class="input-div">
        <label for="anomaly_detector_id">Choose Anomaly Detector</label>
        <BR>
        <select name="anomaly_detector_id" id="anomaly_detector_id">
            {% for anomaly_detector in anomaly_detectors %}
            <option value="{{anomaly_detector.id}}">{{anomaly_detector.name}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Submit</button>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </FROM>

    {% endblock %}