{% extends 'base.html' %}

{% block content %}
<div>
    <TABLE>
        <TR><TD>name:</TD><TD>{{check.name}}</TD></TR>
        <TR><TD>url:</TD><TD>{{check.url}}</TD></TR>
        <TR><TD>method:</TD><TD>{{check.method}}</TD></TR>
        <TR><TD>content:</TD><TD>{{check.content}}</TD></TR>
    </TABLE>
</div>
        <HR>
            <h3>Notifications</h3>
            <DIV>this check has {{check.notifications|length}} notifications</DIV>
            <TABLE>
                <TR><TH>Name</TH><TH>Type</TH></TR>
         
            {% for notification in check.notifications %}
                <TR><TD>{{notification.name}}</TD><TD>{{notification.type}}</TD></TR>
            </TABLE>
            {% endfor %}
        <div><A HREF = " {{url_for('checks.add_notification', check_id=check.id)}}">Add Notification</A></div>
        <HR>
        <h3>Headers</h3>
        <TABLE>
            <TR><TH>Key</TH><TH>Value</TH></TR>
        {% for header in check.headers %}
        <TR><TD>{{header.key}}</TD><TD>{{header.value}}</TD></TR>
        {% endfor %}
        </TABLE>
        <div><a href="{{ url_for('checks.new_header', check_id=check.id) }}">Add Header</a></div>
    </div>
{% endblock %}