{% from "macros.html" import nav_link%}
{% extends 'base.html' %}

{% block content %}
<script>
    $("#checks-nav").addClass("selected-nav");

    function remove_anomaly_dector(ad_id, check_id) {
        $.ajax({
            url: "{{url_for('checks.remove_detector')}}",
            type: "post",
            data: { "anomaly_detector_id": ad_id, "check_id": check_id },
            done: $("#ad_row_" + ad_id).remove()
        });
    }

    function remove_header(header_id, check_id) {
        $.ajax({
            url: "{{url_for('checks.remove_header')}}",
            type: "post",
            data: { "header_id": header_id, "check_id": check_id },
            done: $("#h_row_" + header_id).remove()
        });
    }
    function test_check(check_id) {
        $.ajax({
            url: "{{url_for('checks.test')}}",
            type: "post",
            data: {"check_id": check_id },
            success: function(data){
                $("#result_msg").html(data);
                $("#test_result").show();
            }
        });
    }
    function hide_test_results() {
        $("#test_result").hide();
    }
</script>
<h2>{% block title %}Check Details {% endblock %}</h2>
<TABLE>
    <TR>
        <TH></TH>
    </TR>
    <TR>
        <TD>name</TD>
        <TD>{{check.name}}</TD>
    </TR>
    <TR>
        <TD>url</TD>
        <TD>{{check.url}}</TD>
    </TR>
    <TR>
        <TD>method</TD>
        <TD>{{check.method}}</TD>
    </TR>
    <TR>
        <TD>content</TD>
        <TD>{{check.content}}</TD>
    </TR>
</TABLE>
<div>
    <A HREF="{{url_for('checks.edit', check_id=check.id)}}">Edit</A>
</div>
<div>
    <BUTTON onclick="test_check('{{check.id}}')">Test</BUTTON>
</div>
<div style="display:none" id="test_result">
    <div id="result_msg"></div>
    <button onclick="hide_test_results()">hide results</button>
</div>

<h3>Headers</h3>
<TABLE>
    <TR>
        <TH>Name</TH>
        <TH>Key</TH>
        <TH>Value</TH>
        <TH></TH>
        </TH>
    </TR>
    {% for header in check.headers %}
    <TR id="h_row_{{header.id}}">
        <TD>{{nav_link(url_for('headers.details', header_id=header.id),header.name)}}</TD>
        <TD>{{header.key}}</TD>
        <TD>{{header.value}}</TD>
        <TD>
            <button onclick="remove_header('{{header.id}}','{{check.id}}')">Remove</button>
        </TD>
    </TR>
    {% endfor %}
</TABLE>

<div class="add-to"><a href="{{ url_for('checks.add_header', check_id=check.id) }}">Add Header</a></div>
<h3>Anomaly Detectors</h3>
<TABLE>
    <TR>
        <TH>Name</TH>
        <TH>Type</TH>
        <TH></TH>
    </TR>
    {% for anomaly_detector in check.anomaly_detectors %}
    <TR id="ad_row_{{anomaly_detector.id}}">
        <TD>{{nav_link(url_for('anomaly_detectors.details', anomaly_detector_id=anomaly_detector.id),anomaly_detector.name)}}</TD>
        <TD>{{anomaly_detector.type}}</TD>
        <TD>
            <button onclick="remove_anomaly_dector('{{anomaly_detector.id}}','{{check.id}}')">Remove</button>
        </TD>
    </TR>

    {% endfor %}
</TABLE>
<div class="add-to"><A HREF=" {{url_for('checks.add_anomaly_detector', check_id=check.id)}}">Add Anomoly Detector</A>
</div>
</div>
{% endblock %}