{% extends 'base.html' %}

{% block content %}
<script>
       $("#checks-nav").addClass("selected-nav");
</script>
<h2>{% block title %}New Check{% endblock %}</h2>
<form method="post">
       <div class="input-div">
              {{ form.name.label() }}
              {{ form.name() }}
       </div>
       <div class="input-div">
              {{ form.url.label() }}
              {{ form.url() }}
       </div> 
       <div class="input-div">
              {{ form.method.label() }}
              {{ form.method() }}
       </div>  
       <div class="input-div">
              {{ form.content.label() }}
              {{ form.content() }}
       </div>
       <div>
              {{form.send()}}
       </div>
       {{ form.csrf_token }}

</form>
{% endblock %}