{% extends 'base.html' %}

{% block content %}
<script>
    $("#detectors-nav").addClass("selected-nav");
    function remove_notification_channel(channel_id, anomaly_detector_id) {
        alert(channel_id)
    }
</script>

<H2>{% block title %}{{anomaly_detector.name}}{% endblock %}</H2>
<TABLE>
    <TR>
        <TD>type</TD>
        <TD>{{anomaly_detector.type}}</TD>
    </TR>
    <TR>
        <TD>value</TD>
        <TD>{{anomaly_detector.value}}</TD>
    </TR>
</TABLE>

<BR>
<A HREF="{{url_for('anomaly_detectors.edit', anomaly_detector_id=anomaly_detector.id)}}">Edit</A>
<H2>Notification Channels</H2>
<TABLE>
    {% for channel in anomaly_detector.notification_channels %}
    <TR>
        <TD>{{ channel.name }}</TD>
        <TD>
            <button onclick="remove_notification_channel('{{channel.id}}','{{anomaly_detector.id}}')">Remove</button>
        </TD>
    </TR>
    {% endfor %}
</TABLE>
<BR>
<A HREF="{{url_for('anomaly_detectors.add_notification_channel', anomaly_detector_id=anomaly_detector.id)}}">Add Notification Channel</A>

<FORM method="post" action="{{url_for('anomaly_detectors.delete', anomaly_detector_id=anomaly_detector.id)}}">
    <BUTTON type="submit">Delete Anomaly Detector</BUTTON>
</FORM>
{% endblock %}