{% extends 'base.html' %}

{% block content %}
<script>
    $("#detectors-nav").addClass("selected-nav");
</script>

<FORM method="post">
    <h3>Edit {{anomaly_detector.name}}</h3>
    <label for="name">Name</label>
    <input type="text" name="name" value="{{anomaly_detector.name}}"></input>
    
    <BR>
    <label for="type">anomaly_detector Type</label>
    <select id="type" name="type">
        {% for type in ["error", "latency"] %}
        {% if type == anomaly_detector.type %}
        <option value="{{type}}" selected>{{type}}</option>
        {% else %}
        <option value="{{type}}">{{type}}</option>
        {% endif %}
        {% endfor %}
    </select>
    <BR>
    <label for="value">Value</label>
    <input type="text" name="value" value="{{ anomaly_detector.value }}"></input>
    <BR>
    <label for="channel">Notification Channel</label>
    <select id="channel" name="channel">
        {% for channel in anomaly_detector.user.notification_channels %}
        {% if channel.id == anomaly_detector.notification_channel.id %}
        <option value="{{channel.id}}" selected>{{channel.name}}</option>
        {% else %}
        <option value="{{channel.id}}">{{channel.name}}</option>
        {% endif %}
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</FORM>
{% endblock %}