{% extends 'base.html' %}

{% block content %}
<script>
    $("#detectors-nav").addClass("selected-nav");
</script>

<h2>{% block title %}Edit Anomamly Detector{% endblock %}</h2>
<FORM method="post">
    <div class="input-div">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" value="{{anomaly_detector.name}}"></input>
    </div>
    <div class="input-div">
        <label for="type">anomaly_detector Type</label>
        <br>
        <select id="type" name="type">
            {% for type in ["error", "latency"] %}
            {% if type == anomaly_detector.type %}
            <option value="{{type}}" selected>{{type}}</option>
            {% else %}
            <option value="{{type}}">{{type}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="input-div">
        <label for="value">Value</label>
        <br>
        <input type="text" name="value" value="{{ anomaly_detector.value }}"></input>
    </div>
    <div class="input-div">
        <label for="channel">Notification Channel</label>
        <br>
        <select id="channel" name="channel">
            {% for channel in anomaly_detector.user.notification_channels %}
            {% if channel.id == anomaly_detector.notification_channel.id %}
            <option value="{{channel.id}}" selected>{{channel.name}}</option>
            {% else %}
            <option value="{{channel.id}}">{{channel.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <button type="submit">Submit</button>
</FORM>
{% endblock %}