{% extends 'base.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    You currently have {{checks|length}} checks
    <h3>Check Latencies</h3>
    <div id="latency_graph"></div>
    <script>
        $.ajax({
            url: "{{url_for('checks.latency_graph')}}",
            type: "get",
            success: function(response){
                $("#latency_graph").html(response);}
        });
    </script>
     <h3>Check Statuses</h3>
     <div id="status_graph"></div>
     <script>
         $.ajax({
             url: "{{url_for('checks.status_graph')}}",
             type: "get",
             success: function(response){
                 $("#status_graph").html(response);}
         });
     </script>
    <HR>
    <H3>Anomalies Detected Last</H3>
    <div id="anomalies_table"></div>
    <script>
        $.ajax({
            url: "{{url_for('anomaly_detectors.issues_table')}}",
            type: "get",
            success: function(response){
                $("#anomalies_table").html(response);}
        });
    </script>
{% endblock %}