{% extends 'base.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    You currently have {{checks|length}} checks
    {% for check in checks %}
    <div>{{check.name}}</div>
    <div id="graph_{{check.id}}"></div>
    <script>
        $.ajax({
            url: "{{url_for('checks.graph')}}",
            type: "get",
            data: {check_id: "{{check.id}}"},
            success: function(response){
                $("#graph_{{check.id}}").html(response);}
        });
    </script>
    {% endfor %}
    <HR>
    <div id="detected_table"></div>
    <script>
        $.ajax({
            url: "{{url_for('notifications.issues_table')}}",
            type: "get",
            success: function(response){
                $("#detected_table").html(response);}
        });
    </script>
{% endblock %}